doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Daily CSS Images Challenge - Day 22: Green Lantern (Green Lantern logo)
    link(rel='stylesheet' href='css/index.css')
  body